name: Node.js Build

permissions:
  contents: read
  pages: write

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: '24.x' # change to your Node.js version

      - name: Install dependencies
        run: npm install --legacy-peer-deps

      - name: Run tests
        run: npm test -- --watchAll=false

      - name: Run build
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.PAT }}
          publish_dir: ./build
          publish_branch: gh-pages-rel
